@font-face {
  font-family: 'Meslo';
  src: url('MesloLGS NF Regular.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Meslo';
  src: url('MesloLGS NF Bold.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Meslo';
  src: url('MesloLGS NF Italic.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Meslo';
  src: url('MesloLGS NF Bold Italic.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}
  